[submodule "3rdparty/boost"]
	path = 3rdparty/boost
	url = https://github.com/boostorg/boost.git
	ignore = dirty
[submodule "3rdparty/zlib"]
	path = 3rdparty/zlib
	url = https://github.com/madler/zlib.git
	ignore = dirty
[submodule "3rdparty/PMD"]
	path = 3rdparty/PMD
	url = https://github.com/sed-inf-u-szeged/pmd.git
	ignore = dirty
[submodule "3rdparty/python2"]
	path = 3rdparty/python2
	url = ../cpython.git
	ignore = dirty
[submodule "3rdparty/python3"]
	path = 3rdparty/python3
	url = ../cpython.git
	ignore = dirty
[submodule "java/lib/openjdk"]
	path = java/lib/openjdk
	url = ../openjdk
	ignore = dirty
[submodule "cl/LIM2Patterns/pybind11"]
	path = 3rdparty/pybind11
	url = https://github.com/pybind/pybind11
[submodule "3rdparty/clang"]
	path = 3rdparty/clang
	url = ../llvm-project
[submodule "3rdparty/cppheck"]
	path = 3rdparty/cppcheck
	url = https://github.com/danmar/cppcheck.git
[submodule "3rdparty/miniz"]
	path = 3rdparty/miniz
	url = https://github.com/richgel999/miniz.git
